body {
    background-color: beige;
}

h1 {
    text-align: left;
    background-color: burlywood;
    color: black;
}
h2{
    text-align: left;
}

div {
    text-align: center;
}
ul {
    display: inline-block;
    text-align: left;
}